header, footer {
    background-color: rgb(50, 50, 50);
    
}

nav {
    color: lightgray;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-right: 10%;
}

a {
    text-decoration: none;
    color: lightgray;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.three {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.last {
    display: flex;
    gap: 20px;
    height: 400px;
    width: 92%;

}

.last img {
    display: flex;
    flex: 1;
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
    gap: 3px;
}

article p, h4, button, nav {
    font-family: sans-serif;
}

article p {
    display: flex;
    height: 320px;
    overflow: scroll;
    margin-bottom: 10px;
}

h4 {
    font-size: large;
    margin: 3px;
}

article button {
    width: 40%;
    height: 20%;
    border-radius: 3%;
    background-color: black;
    transition: button 350ms ease;
    color: white;
    border: none;
    font-size: medium;
}

button:hover {
    background-color: lightgray;
    color: rgb(0, 0, 0);
}
.footer {
    height: 100px;
}